<div class="container">
<p><%= link_to "Edit user information", edit_user_details_path(current_user) %></p>
<p><%= link_to "Edit login information", edit_user_registration_path(current_user) %></p>
</div>
