<div class="container">
  <h4 class="text-center m-5">Almost! We need some details about you ;)</h4>
  <div class="row my-2">
    <div class="col-12 d-block d-sm-none my-4">
      <%= render "shared/recap-card-purchase" %>
    </div>
    <div class="col-12 col-md-8">
      <%= render "shared/form-purchase" %>
      <br>
      <%= link_to "Back to product details", product_path(@product), class: "btn btn-secondary" %>
    </div>
    <div class="col-12 col-md-4 d-none d-sm-block">
      <div class="sticky-top">
        <%= render "shared/recap-card-purchase" %>
      </div>
    </div>
  </div>
</div>
