<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1527090526205-beaac8dc3c62?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 text-center m-5">
      <h1>La belle chaussure brings <strong>your sneakers collection</strong> to <strong>the next level</strong>!</h1>
    </div>
    <div class="col-6">
      <form class="form-inline">
        <input class="form-control form-control-lg flex-grow-1 text-center" type="text" placeholder="What are you looking for?" id="search">
        <!-- <button type="submit" class="btn btn-secondary">Search</button> -->
      </form>
    </div>
  </div>
</div>
