
<body class="d-flex flex-column">
  <div id="page-content">
    <div class="container">
      </div>
    </div>
  </div>
  <footer id="sticky-footer" class="py-3 bg-dark text-white-50">

    <div class="d-flex justify-content-between align-items-center">
      <div class="footer_icons">
        <small>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        </small>
      </div>

      <div class ="footer_text">
      &copy; Made with <i class="fas fa-heart"></i> by La Belle Chaussure
      </div>
    </div>

    </div>
  </footer>
</body>
