<div class="card-product">
  <img src="https://picsum.photos/400/400" />
  <div class="card-product-infos">
    <div>
      <h2>TITLE Purchases</h2>
      <p>Description<strong>PRICE</strong> </p>
      <p>vendor_id</p>
    </div>
    <div>
      |<a href="#" class="card-link">cancel</a> | <a href="#" class="card-link">show</a>
    </div>

  </div>
</div>
