<div class="card-product">
  <img src="https://picsum.photos/400/400" />
  <div class="card-product-infos">
    <h2>Nike Zoom Pegasus Turbo 2</h2>
    <p>Best running sneakers <strong>$</strong> #Bookmark <i class="fas fa-heart"></i>| Cancel | Edit</p>
  </div>
</div>
