<%#= render 'form' %>
<div class="row m-5 justify-content-center">
  <div class="col-8 col-md-8">
    <h4 class="d-flex justify-content-between align-items-center mb-5">Edit your product</h4>
    <%= render "shared/form-product-edit" %>
  </div>
</div>
